.profile__avatar-edit {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin-right: 30px;
  background-image: url(../../../images/pen.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1023px) {
  .profile__avatar-edit {
    margin: 0;
  } 
}