@import url(./__avatar/profile__avatar.css);
@import url(./__title/profile__title.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__info/profile__info.css);
@import url(./__edit/profile__edit.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__add-button/profile__add-button.css);
@import url(./__edit-image/profile__edit-image.css);
@import url(./__avatar-edit/profile__avatar-edit.css);
.profile {
  width:100%;
  max-width:882px;
  display: flex;
  margin: 0 0 50px;
}

@media (max-width: 1023px) {
  .profile {
    max-width: 582px;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 649px) {
  .profile {
    max-width: 100%;
  }
}