.header__link {
  margin-top: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header__link:hover {
  opacity: 0.6;
}
@media (max-width: 649px) {
  .header__link {
    margin-right: 27px;
  }
}
