@import url(./__copyright/footer__copyright.css);
.footer {
  align-self: flex-start;
  justify-self: end;
  margin: 0 0 60px calc((100% - 882px) / 2);
}

@media (max-width: 1023px) {
  .footer {
    margin: 0 0 60px calc((100% - 582px) / 2);
  }
}

@media (max-width: 649px) {
  .footer {
    margin: 0 0 60px calc((100% - 282px) / 2);
  }
}
