@import url(./__image/header__image.css);

.header {
  min-width: 882px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 45px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 1023px) {
  .header {
    min-width: 582px;
  }
}

@media (max-width: 649px) {
  .header {
    min-width: 100%;
    margin: 28px 0 38px;
  }
}