@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__field/popup__field.css);
@import url(./__submit-button/popup__submit-button.css);
@import url(./__close-image/popup__close-image.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__image/popup__image.css);
@import url(./__case/popup__case.css);
@import url(./__image-title/popup__image-title.css);
@import url(./__field-error/popup__field-error.css);
@import url(./__input-wrapper/popup__input-wrapper.css);
@import url(./__title/__title_popup-close/popup__title_popup-close.css);
@import url(./__container/__container_small/popup__container_small.css);

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
}
.popup:hover {
  cursor: pointer;
}